
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
    
}
nav{
    display: flex;
    margin: 0 120px;
    gap: 346px;
    align-items: center;
    background-color: #FFFFFF;
}
.header-title{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 32px;
}
nav .btn{
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    width: 166px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
}
#banner{
    background-image: url(assets/hero-bg.png) ;
    background-repeat: no-repeat;
    width: 1600px;
    height: 674px;
    color: #FFFFFF;
    padding: 115px 120px 179px;
    justify-items: center;
    text-align: center;
    align-items: center;
    
}
.bannr-contrianer{
    width: 1360px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}
.access{
    display: flex;
    width: 229px;
    height: 35px;
    color: #469165;
    border-radius: 1000px;
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    padding: 8px 12px;
    gap: 6px;
font-size: 16px;
font-weight: 500;
margin: 0 auto;

}
.baaner-title{
    font-size: 75px;
    font-weight: 700;
    width: 770px;
    height: 164px;
    margin:16px auto;
}
.not-font{
    color: #30B868;
}
.title-p{
    width: 1360px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 16px auto;
    text-align: center;
}
.banner-button{
    display: flex;
    justify-content: center;
    

  
    gap:16px;
}
.strat-builndig{
    display: flex;
    width: 251px;
    height: 52px;
    background-color: #30B868;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    padding: 16px;
    border-radius: 4px;
    border: none;
    
}
.how-works{
     display: flex;
    width: 251px;
    height: 52px;
    
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    padding: 16px;
    border-radius: 4px;
    border-color: #FFFFFF;
    gap: 12px;
}
#notes{
    width: 1360px;
    height: 496px;
    color: #30B868;
    margin: 0 auto;
    grid-gap: 44px;

}
.notes-contriner{
    width: 1360px;
    height: 152px;
    text-align: center;
}
.notes-tex{
    font-size: 48px;
    font-weight: 700;
    color:#001931;
}   
.notes-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
#crad-contriner{
    display: flex;
    width: 1360px;
    height: 300px;
    margin: 44px auto;
    gap: 24px; align-items: center;
    text-align: center;
}
#crad-contriner.crad{
    width: 322px;
    height: 300px;
    padding: 24px;
    gap: 16px;
    

}
.crad h4{
    font-size: 24px;
    font-weight: 600;
color: #001931;
}
.crad p{
        font-size: 16px;
    font-weight: 400;
color: #627382;
line-height: 24px;
}
    
.button-img{
    background-color: #F95555;
    width: 60px;
    height: 60;
    border-radius: 50%;

}
